.card {
    margin: 3vh;
    background: white;
    height: fit-content;
    width: fit-content;
    min-width: 15vh;
    background-color: #7F7EFF;
    color: #5D4345;
    padding: 1vh;
    border-radius: 5px;
}

.green-background {
  background-color: #B3EFB2;
  color: #696D7D
}
.sample-img {
  height: 100%;
  width: 100%;
}

.guest-info {
  background-color: $translucent;
  height: auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 3vh;
}