$translucent: rgba(60, 60, 60, 0.60);
$lightBlue:  #BDDBD0;

.login-box {
  width: 320px;
  height: 420px;
  background-color: $translucent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 1vh 4vh;
  font-size: 12px;
  login-header {
    background-color: bottom;
    font-size: 6vh;
    display: flex;
    justify-content: center;
  }
}

.search-bar {
  position: relative;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.wrapper.input {
  width: 85%;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.search-button {
  background: ffec00;
  width: 10%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  background-color: #BDDBD0;;
}

.login-box {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  .account {
    width: 9vh;
    margin-left: 8vh;
  }
  form {
    display: flex;
    flex-direction: column;
    button {
      background-color: #457b9d;
      height: 6vh;
      border-radius: 5px;
    }
  }

}

