.main-header {
  display: flex;
  icon {
    width: 13vh;
    margin: 2vh;
  }
  h1 {
    padding: 3vh;
    font-size: 7vh;
    margin: 10px;
  }
}

.login-header {
  background-color: bottom;
  font-size: 6vh;
  display: flex;
  justify-content: center;
}

.main-guest-block {
  background-color: $translucent;
  margin-left: 3vh;
}

.guest-display {
  display:grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
  margin-top: 4vh;
  .booking-search-sect {
    background-color: rgba(60, 60, 60, 0.6);
    height: 84vh;
    margin-left: 1vh;
        padding: 2vh;
  }
  .main-guest-block{
  background-color: $translucent;
  margin-left: 3vh;
    h1 {
      padding: 3vh;
      font-size: 5vh;
    }
  }
}

.box {
    flex: 1 1 150px; /*  Stretching: */
    flex: 0 1 150px; /*  No stretching: */
    margin: 5px;
}

.manager-display {
    display: flex;
    justify-content: space-around;
    margin: 2vh;
}
