/* This is an example of using Sass, otherwise plain CSS works too*/

@import 'interactive';
@import 'structure';
@import 'styles';
@import 'cards';
@import 'reset';
$translucent: rgba(60, 60, 60, 0.60);

body {
  background: url(../images/maldives-huts-two.jpg) fixed;
  font-family: recursive;
  color:pink
}
